<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" >
    <!-- Include xacro -->
    <xacro:include filename="$(find robot_description)/urdf/robot_type.xacro"/>

    <!-- Base structure -->
    <link name="base_link">
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.6 0.6 0.3"/>
            </geometry>
            <material name="Orange">
                <color rgba="1.0 0.5 0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.6 0.6 0.3"/>
            </geometry>
        </collision>
    </link>

    <!-- Wheel -->
    <xacro:wheel number="1" pos_x="0.35" pos_y="0.2" pos_z="0"/>
    <xacro:wheel number="2" pos_x="-0.35" pos_y="0.2" pos_z="0"/>
    <xacro:wheel number="3" pos_x="0.35" pos_y="-0.2" pos_z="0"/>
    <xacro:wheel number="4" pos_x="-0.35" pos_y="-0.2" pos_z="0"/>

</robot>