<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="wheel" params="num pos_x pos_y pos_z">
    <joint name="type_joint_${num}" type="continuous">
      <parent link="base_link"/>
      <child link="type_link_${num}"/>
      <origin xyz="${pos_x} ${pos_y} ${pos_z}" rpy="0 0 0"/>
    </joint>

    <link name="type_link_${num}">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="file://$(find robot_description)/meshes/type.dae" scale="1 1 1"/>
        </geometry>
        <material name="Blue">
          <color rgba="0.0 0.0 1.0 1.0"/>
        </material>
      </visual>

      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="file://$(find robot_description)/meshes/type.dae" scale="1 1 1"/>
        </geometry>
      </collision>

      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="100.0"/>
        <inertia ixx="10.0" ixy="0.0" ixz="0.0" iyy="10.0" iyz="0.0" izz="10.0"/>
      </inertial>
    </link>
  </xacro:macro>

</robot>
